.game {
    margin: 100px auto;
    display: flex;
    width: 400px;
    height: 400px;
    border: 5px solid #ef4444;
    flex-wrap: wrap;
}
.game .box {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    color: #1e293b;
    font-size: 48px;
    text-align: center;
    line-height: 90px;
    border: 5px solid #fff;
    background-color: aliceblue;
}
